/* src/components/Navbar.css */

.navbar {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: #0077b6;
  z-index: 1000;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  animation: slideDown 0.5s ease-in-out;
}
#mypara{
  display: flex;
  justify-content: start;
}

@keyframes slideDown {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.navbar-container {
  /* max-width: 1000px; */
  margin: 0 auto;
  padding: 12px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-logo {
  
  font-size: 1.6rem;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
}

.nav-links {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.nav-link {
  color: #e0f7fa;
  text-decoration: none;
  font-weight: 500;
  transition: all 0.3s ease-in-out;
  position: relative;
}

.nav-link:hover {
  color: #ffeb3b;
  transform: scale(1.05);
}

.nav-link.active {
  color: #ffeb3b;
  font-weight: bold;
  border-bottom: 2px solid #ffeb3b;
}
